// ========================================
//
// @file _base.scss
// Base styles
//
// ========================================

.settings {
  margin-top: 20px;
  background-color: $paragraph-settings;
  border: none;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 15px;

  h3,label,legend, .form-composite > legend {
    font-weight: 600;
  }

  > h3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 10px;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid $gray-lighter;
    font-size: 14px;
    text-transform: uppercase;
  }

  > .form-wrapper {
    margin-right: 20px;
    &:nth-child(2) {
      flex: none;
    }

    &:nth-child(3) {
      flex: auto;
    }

    > .form-item {
      display: block;
    }

    > fieldset {
      > legend {
        margin-right: 20px;
      }

      > .fieldset-wrapper {
        margin-top: 5px;
        .form-checkboxes {
          display: flex;
          flex-wrap: wrap;
        }
      }

      .form-item {
        margin-right: 20px;
      }
    }
  }
}

.settings > .fieldset-wrapper {
  .field--widget-options-buttons > .fieldgroup {
    width: 100%;
  }
}

.js {
  input.paragraph-type-add-modal-button {
    &:hover {
      color: $brand-primary;
    }
  }
}